<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" rel="stylesheet" />
<title>Sign Up Form</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="../static/css/login.css">
<body onload="generate()">
    <div class="container d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-between">
            <div class="card mt-3 p-5">
                <div class="logo mb-3"><img src="../asserts/Logo.png" style="width: 50px;"></div>
                    <div>
                        <p class="mb-1">Welcome to our</p>
                        <h4 class="mb-5 text-white">shipments Community</h4>
                    </div>
                    <a href="./signup.html" button class="btn btn-primary btn-lg" ><small>Don't have an account?</small> <span>&nbsp;Sign up</span>
                  </a>
            </div>
            <div class="card two bg-white px-5 py-4 mb-3">

                <div class="form-group">
                    <input type="text" class="form-control" id="mail" required>
                    <label class="form-control-placeholder" for="mail">Email</label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" required>
                    <label class="form-control-placeholder" for="password">Password</label>
                </div>
                <div class="mb-3">
                    <div class="row bg">
                      <input type="text" id="mainCaptcha" class="col-sm-8 ml-3 bg-light" readonly="readonly">
                      </input>
                      <div class="col-sm-2" onclick="generate()">
                        <i class="fas fa-sync mt-4"></i>
                    </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    
                    <div class="row">
                     
                      <div class="col-sm-10">
                      <div class="form-group ">
                        <input type="text" name="checkcaptcha"  class="form-control" id="txtInput">
                        <label class="form-control-placeholder" for="password">Enter Captcha</label>
                    </div>
                    </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <h6 id="error" style="color:red;"></h6>
                    <h6 id="success" style="color:#004F76;"></h6>
                  </div>
                <button class="btn btn-primary btn-block btn-lg mt-1 mb-2"  onclick="CheckValidCaptcha();"><span>Login <i class="fas fa-long-arrow-alt-right ml-2"></i></span></button>
            </div>
        </div>
    </div>

    <script src="../static/js/captcha.js"></script>
</body>
</html>

<!-- 
//https://www.oodlestechnologies.com/blogs/create-a-captcha-validation-in-html-and-javascript/ -->